In [51]:
import pandas as pd

In [52]:
# open the draft data
draft=pd.read_csv('nba_draft_combine_all_years.csv', index_col=0)

In [53]:
# open the nba data
nba_2020=pd.read_csv('nba_2020_advanced.csv', index_col=0)

In [54]:
# take a look at the first few columns of nba 2020 advanced stats data
nba_2020.head()

,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,FTr,...,Unnamed: 19,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP
Rk,,,,,,,,,,,,,,,,,,,,,
1,Steven Adams\adamsst01,C,26,OKC,58,1564,20.8,0.605,0.007,0.413,...,NaN,3.7,2.5,6.2,0.190,NaN,2.1,1.1,3.2,2.0
2,Bam Adebayo\adebaba01,PF,22,MIA,65,2235,20.6,0.606,0.018,0.476,...,NaN,4.6,3.6,8.1,0.175,NaN,1.6,2.1,3.6,3.2
3,LaMarcus Aldridge\aldrila01,C,34,SAS,53,1754,19.8,0.571,0.198,0.241,...,NaN,3.1,1.4,4.4,0.122,NaN,1.8,-0.5,1.3,1.5
4,Nickeil Alexander-Walker\alexani01,SG,21,NOP,41,501,7.6,0.441,0.515,0.123,...,NaN,-0.7,0.4,-0.4,-0.034,NaN,-3.5,-1.4,-4.9,-0.4
5,Grayson Allen\allengr01,SG,24,MEM,30,498,11.4,0.577,0.517,0.199,...,NaN,0.5,0.3,0.7,0.070,NaN,-1.0,-1.5,-2.6,-0.1

In [56]:
# take a look at the draft data
draft.head()

,Player,Year,Unnamed: 3,Height (No Shoes),Height (With Shoes),Wingspan,Standing reach,Vertical (Max),Vertical (Max Reach),Vertical (No Step),Vertical (No Step Reach),Weight,Agility,Sprint,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,Blake Griffin,2009,NaN,80.50,82.00,83.25,105.0,35.5,140.5,32.0,137.0,248.0,10.95,3.28,NaN,NaN,NaN,NaN
1,Terrence Williams,2009,NaN,77.00,78.25,81.00,103.5,37.0,140.5,30.5,134.0,213.0,11.15,3.18,NaN,NaN,NaN,NaN
2,Gerald Henderson,2009,NaN,76.00,77.00,82.25,102.5,35.0,137.5,31.5,134.0,215.0,11.17,3.14,NaN,NaN,NaN,NaN
3,Tyler Hansbrough,2009,NaN,80.25,81.50,83.50,106.0,34.0,140.0,27.5,133.5,234.0,11.12,3.27,NaN,NaN,NaN,NaN
4,Earl Clark,2009,NaN,80.50,82.25,86.50,109.5,33.0,142.5,28.5,138.0,228.0,11.17,3.35,NaN,NaN,NaN,NaN

In [60]:
# OK here is the tricky part... to join the data sets we need to make the Player names equivalent
# Notice that the nba 2020 data has name followed by ID... so we use a trick from assignment 3 to reformat
# the name so that it is equivalent to the draft data (ie we get rid of the ID)
nba_2020.Player=nba_2020.Player.astype(str).apply(lambda x:x.split('\\')[0])
draft.Player=draft.Player.astype(str)

In [58]:
# now we can join the two data sets 
# see https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html
joined=pd.merge(nba_2020, draft, left_on='Player', right_on='Player')

In [61]:
# take a look at the size of the joined data, and the first few rows of the joined data
# note there are only 240 players in the joined set... this is because some nba players were drafted before 2009 or 
# made it to the league undrafted, while not all drafted players are in the NBA in 2020
print(nba_2020.shape)
print(draft.shape)
print(joined.shape)
joined.head()

(624, 28)
(517, 18)
(240, 45)

,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,FTr,...,Vertical (Max Reach),Vertical (No Step),Vertical (No Step Reach),Weight,Agility,Sprint,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,Steven Adams,C,26,OKC,58,1564,20.8,0.605,0.007,0.413,...,142.5,28.5,138.0,255.0,11.85,3.40,NaN,NaN,NaN,NaN
1,Bam Adebayo,PF,22,MIA,65,2235,20.6,0.606,0.018,0.476,...,146.5,33.5,141.5,243.0,11.94,3.24,NaN,NaN,NaN,NaN
2,Jarrett Allen,C,21,BRK,64,1647,20.3,0.658,0.012,0.574,...,145.0,31.5,141.0,234.0,11.82,3.21,NaN,NaN,NaN,NaN
3,Kadeem Allen,SG,27,NYK,10,117,14.0,0.512,0.364,0.250,...,135.0,33.0,132.5,192.0,11.24,3.15,NaN,NaN,NaN,NaN
4,Al-Farouq Aminu,PF,29,ORL,18,380,7.6,0.395,0.419,0.337,...,142.0,27.0,135.5,216.0,11.29,3.30,NaN,NaN,NaN,NaN